/ {
    aliases {
        pwm-motor = &motor_pwm;    
        e-stop = &my_button;
        motor-in1 = &motor_in1_node;
        motor-in2 = &motor_in2_node;
        encoder-a = &encoder_a_node;
        encoder-b = &encoder_b_node;
    };

    pwmleds {
        compatible = "pwm-leds";
        motor_pwm: pwm_motor_node {
            pwms = <&pwm3 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
            label = "PWM Motor";
        };
    };

    buttons {
        compatible = "gpio-keys";
        my_button: my_button_0 {
            gpios = <&gpioi 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "My Button";
        };
    };

    gpio_outs {
        compatible = "gpio-leds";
        motor_in1_node: motor_in1 {
            gpios = <&gpioi 0 GPIO_ACTIVE_HIGH>;   /* PI0 — D5 */
            label = "Motor IN1";
        };
        motor_in2_node: motor_in2 {
            gpios = <&gpioi 1 GPIO_ACTIVE_HIGH>;   /* PI1 — D13 */
            label = "Motor IN2";
        };
        encoder_a_node: encoder_a {
            gpios = <&gpiog 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  /* PG6 = D2 */
            label = "Encoder A";
        };
        encoder_b_node: encoder_b {
            gpios = <&gpiog 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  /* PG7 = D4 */
            label = "Encoder B";
        };
    };
};

&timers3 {
    status = "okay";
    pwm3: pwm {
        status = "okay";
        pinctrl-0 = <&tim3_ch1_pb4>;
        pinctrl-names = "default";
    };
};

&gpioi {
    status = "okay";
};
&gpiog {
    status = "okay";
};