/ {
 
    gpio_outs {
        compatible = "gpio-leds";
        toggle: toggle_gpio {
            gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;   /* PA8 — D10 */
            label = "Toggle GPIO";
        }; 
    };

    buttons {
        compatible = "gpio-keys";
        my_button: my_button_0 {
            gpios = <&gpioi 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "My Button";
        };
    };
};

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>; // 100kHz
    pinctrl-0=<&i2c1_scl_pb8 &i2c1_sda_pb9>;
    pinctrl-names = "default";

    mpu9250@68 {
        compatible = "invensense,mpu9250";
        reg = <0x68>; /* Inquiry: What does 'reg' represent here? */
        gyro-sr-div = <0>;
        gyro-dlpf = <250>;
        gyro-fs = <250>;
        accel-fs = <2>;
        accel-dlpf = "218.1";

    };
};